Repository python-discord/branding, pull requests merged in 2020-10, with the labels that each got.

#80 Add Lemoji with zipped mouth
  emotes/lemoji/dist/lemon_zipped_mouth.png
  emotes/lemoji/src/lemon_zipped_mouth.svg
Labels: lemoji

#81 New Seasonal Lemojis!
  emotes/lemoji/dist/seasonal/lemon_s_autumn.png
  emotes/lemoji/dist/seasonal/lemon_s_winter.png
  emotes/lemoji/src/seasonal/lemon_s_autumn.svg
  emotes/lemoji/src/seasonal/lemon_s_winter.svg
Labels: lemoji

#82 Add happy lemoji
  emotes/lemoji/dist/lemon_happy.png
  emotes/lemoji/src/lemon_happy.svg
Labels: lemoji, needs 2 approvals

#89 Add wallpapers and event assets
  events/pyweek/pyweek_30/PyWeek 30 Icon 3.gif
  events/pyweek/pyweek_30/PyWeek 30 Icon 5.gif
  events/pyweek/pyweek_30/PyWeek 30 icon.gif
  events/pyweek/pyweek_30/PyWeek 30 icon2.gif
  events/pyweek/pyweek_30/PyWeek 30 icon4.gif
  events/pyweek/pyweek_30/pyweek_30 discord banner.png
  events/summer_code_jam_2020/early internet icon smaller.png
  events/summer_code_jam_2020/early internet icon.png
  events/summer_code_jam_2020/stream assets/aeros camframe.png
  events/summer_code_jam_2020/stream assets/cue card empty.png
  events/summer_code_jam_2020/stream assets/joe camframe.png
  events/summer_code_jam_2020/stream assets/lemonframe.png
  events/summer_code_jam_2020/stream assets/python background.png
  events/summer_code_jam_2020/stream assets/ves camframe.png
  events/summer_code_jam_2020/summer code jam - early internet banner 2.png
  events/summer_code_jam_2020/summer code jam - early internet banner 3.png
  events/summer_code_jam_2020/summer code jam - early internet banner 4.png
  events/summer_code_jam_2020/summer code jam - early internet banner 5.png
  events/summer_code_jam_2020/summer code jam - early internet banner 6.png
  events/summer_code_jam_2020/summer code jam - early internet banner.png
  wallpapers/bigger than liechtenstein/pydis postcard 2.png
  wallpapers/bigger than liechtenstein/pydis postcard.png
  wallpapers/pyboat/pyboat.png
  wallpapers/pyboat/pyboat_no_logo.png
  wallpapers/pybus/pybus_logo.png
  wallpapers/pybus/pybus_no_logo.png
  wallpapers/pyhorse/pyhorsebg.png
  wallpapers/pyhorse/pyhorsebg_plain.png
  wallpapers/pytractor/tractor_big_logo.png
  wallpapers/pytractor/tractor_text_only.png
Labels: needs 2 approvals
